@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Movie App</h1>
</div>   
<div class="photo">
    <img src="~/photos/Graphic-Design.jpg" alt="movie" />
</div>
